@import 'tailwindcss';
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/500-italic.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/600-italic.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/inter/700-italic.css";

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/inter-latin-500.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/inter-latin-500-italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/inter-latin-600.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/inter-latin-600-italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/inter-latin-700.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/inter-latin-700-italic.woff2') format('woff2');
  font-display: swap;
}

@theme {
    --color-background-white: #f9f9f9;
    --color-text-base: #2c2c2c;
    --color-accent: #ff6b00;
    --color-primary: #004aad;
}

:root {
    --font-base: 'Inter', sans-serif;
}

body {
    font-family: var(--font-base);
}
